aiodataloader==0.4.0
alembic==1.13.1
aniso8601==9.0.1
blinker==1.7.0
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
docutils==0.21.2
Faker==25.3.0
Flask==3.0.3
flask-marshmallow==1.2.1
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
graphene==3.3
graphene-sqlalchemy==3.0.0rc1
graphql-core==3.2.3
graphql-relay==3.2.0
greenlet==3.0.3
idna==3.7
install==1.3.5
itsdangerous==2.1.2
Jinja2==3.1.3
Kivy==2.3.0
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.7.0
Kivy-Garden==0.1.5
Mako==1.3.5
MarkupSafe==2.1.5
marshmallow==3.21.1
mysql-connector-python==8.3.0
packaging==24.0
promise==2.3
Pygments==2.18.0
pypiwin32==223
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pywin32==306
requests==2.32.3
six==1.16.0
SQLAlchemy==2.0.29
typing_extensions==4.11.0
urllib3==2.2.2
Werkzeug==3.0.2
